.container {
  height: 100vh;
	width: 100vw;
  display: flex;
  overflow-y: auto;
}
.container::-webkit-scrollbar{
  display: none;
}
.container > .left {
  width: 51.5%;
  display: flex;
  background-color: white;
  position: relative;
}
.container > .left::-webkit-scrollbar {
  display: none;
}
.container > .right {
  width: 50%;
  color: black;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.container > .right::-webkit-scrollbar {
  display: none;
}
.image {
  height: 100%;
  object-fit: cover;
}
.h1 {
  width: 50%;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  margin-bottom: 10%;
}
.slide-right {
  animation: slide-right 500ms 150ms forwards;
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(15%);
  }
}
.p {
  align-self: flex-end;
  width: 60%;
  padding-right: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.highlight {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }
  .container > .left {
    width: 100%;
    height: 10%;
  }
  .container > .right {
    width: 100%;
    height: 90%;
    padding: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .container > .left {
    display: none;
  }
  .container > .right {
    height: 100%;
    padding-top: 4rem;
  }
  .title {
    font-size: 3rem;
  }
  .h1 {
    font-size: 2rem;
    width: 100%;
    line-height: 2.2rem;
    font-weight: 600;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(10%);
    }
  }
  .p {
    width: 100%;
    font-size: 1.2rem;
  }
}