.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	overflow-y: auto;
	background-color: #f1efe7;
}
.container::-webkit-scrollbar {
	display: none;
}
.container > .left {
	width: 51.5%;
	display: flex;
	background-color: white;
	position: relative;
}
.container > .left::-webkit-scrollbar {
	display: none;
}
.container > .right {
	width: 50%;
	color: black;
	padding: 5rem;
	display: flex;
	flex-direction: column;
}
.container > .right::-webkit-scrollbar {
	display: none;
}
.image {
	height: 100%;
	object-fit: cover;
}
.h1 {
	font-family: "Vasquz";
	width: 55%;
	font-size: 4.5rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 4rem;
	margin: 8rem 0;
}
.h1-highlight {
	color: var(--PRIMARYCOLOR);
}
.slide-right {
	animation: slide-right 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms
		forwards;
}
@keyframes slide-right {
	0% {
		transform: translateX(0);
	}
	70% {
		transform: translateX(22%);
	}
	100% {
		transform: translateX(15%);
	}
}
.p {
	align-self: flex-end;
	width: 60%;
	padding-right: 2rem;
	font-size: 1.3rem;
	font-weight: 300;
}
.p-highlight {
	font-weight: 500;
	color: var(--SECONDARYCOLOR);
}

@media screen and (max-width: 1024px) {
	.container {
		flex-direction: column-reverse;
	}
	.container > .left {
		width: 100%;
		height: 10%;
	}
	.container > .right {
		width: 100%;
		height: 90%;
		padding: 3rem;
	}
}

@media screen and (max-width: 640px) {
	.container > .left {
		display: none;
	}
	.container > .right {
		height: 100%;
		padding: 0 1.5rem 10rem 1.5rem;
	}
	.h1 {
		font-size: 3.5rem;
		width: 100%;
		line-height: 3.4rem;
		margin: 7rem 0 3rem 0;
	}
	@keyframes slide-right {
		0% {
			transform: translateX(0);
		}
		80% {
			transform: translateX(20%);
		}
		100% {
			transform: translateX(10%);
		}
	}
	.p {
		width: 100%;
		font-size: 0.9rem;
		padding: 0 2rem;
	}
}
