.container {
  width: 100%;
  height: 100%;
  background-image: url('../public/img/newport.jpg');
  background-size: cover;
	background-position: center;
}
.content {
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: #000000;
	line-height: 2rem;
}
.name {
	font-family: "Vasquz";
	// Poppins fontsize
	// font-size: 2.75rem;
	font-size: 3rem;
}
.profession {
	// font-family: "Suisse";
	// font-weight: 500;
	font-size: 1rem;
}

@media screen and (max-width: 640px){
	.content {
		line-height: 1.5rem;
	}
  .name {
		font-size: 2rem;
	}
	.profession {
		font-size: 0.8rem;
	}
}