.container {
  width: 100%;
  height: 100%;
  background-image: url('../public/img/newport.jpg');
  background-size: cover;
	background-position: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: #000000;
}
.name {
	font-size: 2.75rem;
}
.profession {
	font-size: 1rem;
}

@media screen and (max-width: 640px){
  .name {
		font-size: 1.5rem;
	}
	.profession {
		font-size: 0.8rem;
	}
}