.container { 
  width: 100%;
  display: flex;
  position: absolute;
  // overflow-y: scroll;
  // transition: height 3s linear;
  animation: slide 290s linear 3s forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
.container-left {
  width: 50%;
  position: relative;
  animation: shift-container-left 1s forwards;
}
.container-right {
  width: 50%;
  position: relative;
  animation: shift-container-right 1s forwards;
}
@keyframes shift-container-left {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes shift-container-right {
  from {
    transform: translateY(2.2%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.image-container-short{
  width: max(20vw, 100%);
	position: relative;
	aspect-ratio: .9/1.2;
}
.image-container-long{
  width: max(20vw, 100%);
	position: relative;
	aspect-ratio: .8/1.2;
}
.image {
  object-fit: cover;
  padding: 0rem 1.7rem 1.7rem 0rem;
  animation: fadeIn 1s forwards;
}
// @media screen and (min-width: 1024px) {
//   .container {
//     animation: slide 290s linear 3s forwards;
//   }
// }